@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: "Inter", serif;
}

/* BlogPosts.css */

.blogs {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.blogs h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.blog-post {
  background: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.blog-post h2 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 10px;
}

.blog-post p {
  font-size: 1rem;
  color: #555;
}

.blog-post:hover {
  background: #eef;
  transition: 0.3s;
}
